* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  background: url('../images/site-bg.jpg') center no-repeat;
  background-size: cover;
  min-width: 350px;
  user-select: none;
}
