@import '../../assets/scss/variables';

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & > section {
    height: fit-content;
    min-height: calc(100vh - 6rem);
    font-size: 1.5rem;
    color: $Primary;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    overflow: auto;

    & > h2 {
      width: 100%;
      text-align: center;
      font-weight: 800;
      color: $Text;
      font-size: 3rem;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 2rem;

      & > svg {
        color: $TextHover;
      }

      & a {
        text-decoration: none;
        color: $Primary;
      }
    }

    & > p {
      text-align: center;
      line-height: 3rem;
    }
  }
}
