@import '../../assets/scss/variables';

.navbar {
  min-height: 6rem;
  background: $Primary;
  border-bottom: 5px solid $Text;
  transition: all 3s;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  font-weight: 700;
  letter-spacing: 1px;
}

.li {
  color: $PrimaryText;
  font-weight: 700;
  font-size: 1.2rem;

  &:hover {
    color: $TextHover;
  }
}
